@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
html {
  overflow: hidden;
} */

body {
  font-size: 16px;
  font-feature-settings: normal;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  color: var(--black);
  background-color: var(--bg);
  overflow-y: overlay;
  margin: 0;
  /* overscroll-behavior-y: none; */
  overscroll-behavior: contain;
}
